.main {
	margin: 0px;
	padding: 0px;
}

.grid {
	margin: 0px;
	padding: 0px;
}

.info {
	padding: 50px;
	text-align: center;
}

.sinopse {
	padding: 50px;	
}

.trailer {
	border-top: 1px solid #999;
}


.rodape {	
	text-align: center;
	padding: 50px;
	color: #fff;	
}

.footer {
	background: #FF4500;
	width: 100%;
	padding: 0px;
	margin: 0px;
}