body {
	margin: 0;
}

.navbar li {	
	font-size: 15px;
}

.navbar ul {
	margin: 15px;
	background: #FF4500;
	opacity: 0.8;
}

.navbar a {
	color: #fff;	
	text-transform: uppercase;
}

.navbar a:hover{
	color: #FF4500;
}


.carousel-inner img {
	width: 100%;
}


.navbar {	
	height: 70px;
}
@media (max-width: 768px){
	.navbar {
		background-color: #fff;
		opacity: 0.9;
	}
}

.navbar-toggle {
	background-color: #FF4500;
	border: 1px solid #666;
	margin: 15px;
}

.icon-bar {
	background-color: #fff;
}

.icone {
	margin-left: 20px;
	display: inline-block;
	height: 50px;
	width: 50px;
	overflow: hidden;
}

@media (max-width: 768px){
	.icone {
	margin-left: 20px;
	display: inline-block;
	height: 35px;
	width: 35px;
	overflow: hidden;
}
}

.facebook {
	display: inline-block;
	height: 34px;
	width: 34px;
	overflow: hidden;
}

.twitter {
	display: inline-block;
	height: 34px;
	width: 34px;
	overflow: hidden;
}

.youtube {
	display: inline-block;
	height: 34px;
	width: 34px;
	overflow: hidden;
}

.instagram {
	display: inline-block;
	height: 34px;
	width: 34px;
	overflow: hidden;
}

p {
	font-family: 'Roboto', sans-serif;
}

h1, h2 {
	font-family: 'Montserrat', sans-serif;
}